
.button {
  background: rgb(5, 42, 116);
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  width: auto;
  height: 2.2rem;
  border: 1px solid rgb(5, 42, 116);
  border-radius: .2rem;
}
